---
import Layout from '~/layouts/PageLayout.astro';
const meta = {
  title: "Blog",
};

import PostCard from '~/components/widgets/PostCard.astro';
import blogPosts from '~/blogdata/blogposts.json'
import BlogTags from '~/components/widgets/BlogTags.astro';
import FeaturedPost from '~/components/widgets/FeaturedPost.astro';

export async function getStaticPaths({ paginate }) {
  return paginate(blogPosts, {
    pageSize: 9,
  });
}

const { page } = Astro.props; 
const articlesPerPage = 9;

const totalPages = Math.ceil(blogPosts.length / articlesPerPage);
const allPages = Array.from({ length: totalPages }, (_, index) => index + 1);
---

<Layout {meta}>

  {page.currentPage === 1 && (
    <FeaturedPost 
      title={blogPosts[0].title}
      date={blogPosts[0].date}
      tag={blogPosts[0].tag}
      image={blogPosts[0].image}
      url={`/blog/${blogPosts[0].slug}`}
      content={blogPosts[0].content.slice(0, 270)}
    />
  )}

<div transition:animate="initial" class="overflow-hidden">
  <section class="px-6 mx-auto max-w-6xl lg:px-8 lg:py-20">
    {page.currentPage === 1 && (
    <div class="flex flex-row items-center pb-3">
        <h2 class="w-fit text-2xl whitespace-nowrap text-muted pr-4 font-black">Latest posts</h2>
        <hr class="w-full border-textdark">
    </div>
    )}

    <BlogTags></BlogTags>
    
    <div class="relative md:grid md:grid-cols-3 md:grid-rows-3 md:gap-12">
        <div class="w-96 h-96 rounded-full bg-gradient blur-3xl opacity-20 absolute top-1/2 -translate-y-1/2 -right-40 scale-150 -z-10 md:-right-80"></div>
        <div class="w-96 h-96 rounded-full bg-bluegradient blur-3xl opacity-20 absolute left-1/2 -translate-x-1/2 -bottom-60 scale-125 md:scale-150 md:-bottom-80 -z-10"></div>
        
        {page.data.map((post) => (
            <PostCard
              title={post.title}
              date={post.date}
              tag={post.tag}
              image={post.image}
              url={`/blog/${post.slug}`}
            />
          ))}
    </div>



      
      <!--<div class="flex flex-row flex-wrap gap-4 pt-4 pb-12">
          <div class="p-px bg-gradient-to-tr from-purple-400 to-accent rounded-lg">
              <button class={`py-1 px-3 rounded-lg text-sm ${selectedTag === '' ? 'bg-accent' : 'bg-primary'}`} on:click={() => selectedTag = ''}>All</button>
          </div>
          {uniqueTags.map((tag) => (
              <div class="p-px bg-gradient-to-tr from-purple-400 to-accent rounded-lg">
                  <button class={`py-1 px-3 rounded-lg text-sm ${selectedTag === tag ? 'bg-accent' : 'bg-primary'}`} on:click={() => selectedTag = tag}>
                      {tag}
                  </button>
              </div>
          ))}
      </div> -->
    <nav class="flex justify-center py-6 gap-4">
        {page.url.prev ? <a href={page.url.prev} class="w-fit py-1 px-4 border border-textdark rounded-lg bg-primary text-muted hover:text-textcolor">Previous</a> : null}
        {page.url.next ? <a href={page.url.next} class="w-fit py-1 px-4 border border-textdark rounded-lg bg-primary text-muted hover:text-textcolor">Next</a> : null}
    </nav>
  </section>
</div>

</Layout>

