---
import Layout from '~/layouts/PageLayout.astro';
import { Icon } from 'astro-icon';
import blogPosts from '~/blogdata/blogposts.json';

let post = {};

export async function getStaticPaths() {
  const paths = blogPosts.map((post) => ({
    params: { slug: post.slug },
  }));
  return paths;
}

export async function load({ params }) {
  const slug = params.slug;
  post = blogPosts.find((p) => p.slug === slug);
  console.log('Post:', post);
  return { post };
}

let url = Astro.url.pathname;
let postslugs = blogPosts.map((post) => post.slug);
let matchingSlug = postslugs.find((slug) => url.includes(slug));
let matchingIndex = postslugs.indexOf(matchingSlug);
let matchingImage = matchingSlug ? blogPosts[matchingIndex].image : null;
let matchingTitle = matchingSlug ? blogPosts[matchingIndex].title : null;
let matchingTag = matchingSlug ? blogPosts[matchingIndex].tag : null;
let matchingContent = matchingSlug ? blogPosts[matchingIndex].content : null;
let matchingDate = matchingSlug ? blogPosts[matchingIndex].date : null;

let matchingMeta = matchingTitle

const meta = {
  title: matchingMeta,
};
---
<Layout {meta}>
    <div class="w-screen h-[30vh] md:h-[50vh] overflow-hidden grid place-content-center">
        <img class="w-screen h-screen object-cover" src={matchingImage} alt={matchingTitle} />
    </div>
    <article class="flex flex-col md:flex-row px-6 py-6 mx-auto max-w-6xl lg:px-8 lg:py-20 gap-x-20">
        <div class="md:w-1/3 flex flex-col gap-y-3 md:gap-y-4 mb-6">
            <div class="flex justify-between">
                <p class="text-sm font-semibold tracking-wide text-transparent bg-clip-text bg-gradient-to-t from-purple-900 to-accent">{matchingTag}</p>
                <p class="text-sm text-muted tracking-wide leading-relaxed md:hidden">{matchingDate}</p>
            </div>
            <h2 class="font-black text-muted md:text-white text-3xl md:text-4xl leading-tight">{matchingTitle}</h2>
            <hr class="border-textdark hidden md:block">
            <p class="hidden md:block text-sm text-muted font-semibold tracking-wide leading-relaxed">{matchingDate}</p>
            <div class="flex gap-5 pt-1">
                <a href=""><Icon name='Instagram' class="w-6 h-6" /></a>
                <a href=""><Icon name='Twitter' class="w-6 h-6" /></a>
                <a href=""><Icon name='LinkedIn' class="w-6 h-6" /></a>
                <a href=""><Icon name='Facebook' class="w-6 h-6 text-textdark" /></a>
            </div>
        </div>
        <div class="md:w-2/3">
            <p class="text-muted font-medium text-base leading-relaxed">
                {matchingContent}</p>
        </div>
    </article>
</Layout>