---
import { getHomePermalink } from '~/utils/permalinks';
import { Icon } from 'astro-icon';
import Logo from '~/components/Logo.astro';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  socialLinks: Array<Link>;
}

const {
  socialLinks = [],
} = Astro.props;
---

<footer>
  <div class="w-full border-t-2 border-[#1C1C24] bg-[#0B0B14]">
    <div class="flex flex-col md:flex-row justify-between w-full px-8 py-8  max-w-6xl mx-auto">
        <div class=" flex flex-col justify-between">
          <div class="pb-6 mx-auto md:mx-0 md:pl-3">
            <a href={getHomePermalink()}>
              <Logo />
            </a>
          </div>
        
          <div class="mx-auto md:mx-0 pb-6 md:pb-0">
            {
              socialLinks?.length ? (
                <ul class="flex md:order-1">
                  {socialLinks.map(({ ariaLabel, href, text, icon }) => (
                    <li>
                      <a
                        class="text-muted rounded-lg text-sm px-2.5 inline-flex items-center"
                        aria-label={ariaLabel}
                        href={href}
                      >
                        {icon && <Icon name={icon} class="w-4 h-4" />}
                        <Fragment set:html={text} />
                      </a>
                    </li>
                  ))}
                </ul>
              ) : (
                ''
              )
            }
          </div>
  
      
      </div>
      <ul class="md:grid md:grid-cols-2 flex gap-4 text-muted text-sm mx-auto md:mx-0">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/#features">Features</a>
        </li>
        <li>
          <a href="/#benefits">Benefits</a>
        </li>
        <li>
          <a href="/#faq">FAQ</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
      
    </div>
  </div>
  
  
</footer>
