---
export interface Props {
  title?: string;
  subtitle?: string;
  trdButton?: string;
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  title = await Astro.slots.render('title'),
  title2 = await Astro.slots.render('title2'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
  trdButton = await Astro.slots.render('trdButton'),
} = Astro.props;
---

<section class="relative md:-mt-[76px]">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="py-9 md:py-9">
      <div class="text-center pb-10 md:pb-16 max-w-screen-lg mx-auto">
        {
          title && (
            <h1
              class="text-4xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-textcolor"
              set:html={title}
            />
          )
        }

        <!-- Trade Button -->
        {
          trdButton && (
            <div class="relative flex justify-center align-middle m-7">
              <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[340px] h-[340px] flex justify-center align-middle bg-gradient-to-r from-[#4040DC] via-[#7721D6] to-[#EA3382] rounded-full blur-2xl z-0 opacity-60 rotate-90"></div>
              <div class="relative bg-[#070610] w-[280px] h-[280px] rounded-full z-10 rotate-12">
                <div class="absolute bg-gradient-to-r from-[#070610] from-10% via-[#443EDC] via-15% to-[#070610] to-70% w-[140px] h-[280px] rounded-l-full z-20 blur-xl left-0"></div>
                <div class="absolute bg-gradient-to-r from-[#070610] from-60% via-[#D9318F] via-80% to-[#070610] to-95% w-[140px] h-[280px] rounded-r-full z-20 blur-xl right-0"></div>
                <div class="absolute w-[280px] h-[120px] bg-[#070610] rounded-b-full blur-md bottom-1 z-30"></div>
              </div>
              <div class="absolute bg-[#070610] w-[240px] h-[240px] rounded-full z-40 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 blur opacity-90"></div>
              <h1
                  class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-textcolor absolute z-40 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
                  set:html={trdButton}
                />
            </div>
          )
        }

        {
          title2 && (
            <h1
              class="text-4xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-textcolor"
              set:html={title2}
            />
          )
        }

        <div class="max-w-3xl mx-auto">
          {subtitle && <p class="text-xl text-muted mx-6 md:mx-12 my-7 text-textcolor" set:html={subtitle} />}
          <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
          </div>
        </div>
        {content && <Fragment set:html={content} />}
      </div>
    </div>
  </div>
</section>
