---
interface Item {
  currency?: string;
  currency2?: string;
  value?: string;
  currencyWorst?: string;
  currencyWorst2?: string;
  valueWorst?: string;
}
export interface Props {
  items: Array<Array<Item>>;
  itemsWorst: Array<Array<Item>>;
}
const {
  items = [],
  itemsWorst = [],
} = Astro.props;
---

<section class="mx-auto max-w-6xl md:mb-4" id="Leaderboard">
  <div class="max-w-md lg:max-w-lg mx-auto md:bg-[#1C1C24] md:rounded-lg md:p-4">

    <h2 class="text-2xl mb-2 md:-mb-1 text-center font-bold">Leaderboard</h2>

    <slot />  

    <div id="top" class="h-60 overflow-scroll mb-4 md:mb-0">
      {
        items.map((subitems) => (
          <div class="">
            {subitems.map(({ currency, currency2, value }) => (
              <div class="flex flex-row border border-[#1C1C24] rounded-lg py-3 items-center px-4 mb-2 bg-[#0F0F18] last:mb-0">
                  <div class="flex flex-row justify-between w-full">
                    <div class="flex flex-row">
                      <p class="text-lg" set:html={currency} />
                      <p class="text-lg mx-2"> • </p>
                      <p class="text-lg" set:html={currency2} />
                    </div>
                    <p class="text-lg" set:html={value} />
                  </div>
              </div>
            ))}
          </div>
        ))
      }
    </div>
    
    <div id="worst" class="h-60 overflow-scroll mb-4 hidden md:mb-0">
      {
        itemsWorst.map((subitems) => (
          <div class="">
            {subitems.map(({ currencyWorst, currencyWorst2, valueWorst }) => (
              <div class="flex flex-row border border-[#1C1C24] rounded-lg py-3 items-center px-4 mb-2 bg-[#0F0F18]">
                  <div class="flex flex-row justify-between w-full">
                    <div class="flex flex-row">
                      <p class="text-lg" set:html={currencyWorst} />
                      <p class="text-lg mx-2"> • </p>
                      <p class="text-lg" set:html={currencyWorst2} />
                    </div>
                    <p class="text-lg" set:html={valueWorst} />
                  </div>
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>