---
export interface Props {
  label?: string;
  class?: string;
}

const {
  label = 'Stats Tabs',
  class:
    className = 'inline-block px-3 py-1 rounded-lg ml-2 first:ml-0 text-textcolor w-20 text-center',
} = Astro.props;
---
<div class="flex flex-row w-full justify-center h-16 items-center z-[999]">
    <button type="button" id="tab1W" class={className} aria-label={label} data-aw-toggle-tab3>1W</button>
    <button type="button" id="tab1M" class={className} aria-label={label} data-aw-toggle-tab3>1M</button>
    <button type="button" id="tab3M" class={className} aria-label={label} data-aw-toggle-tab3>3M</button>
    <button type="button" id="tab6M" class={className} aria-label={label} data-aw-toggle-tab3>6M</button>
    <button type="button" id="tab1Y" class={className} aria-label={label} data-aw-toggle-tab3>1Y</button>
</div>


<!-- TODO: Rewrite code from scratch -->
<script>
    const tab1W = document.getElementById('tab1W');
    const tab1M = document.getElementById('tab1M');
    const tab3M = document.getElementById('tab3M');
    const tab6M = document.getElementById('tab6M');
    const tab1Y = document.getElementById('tab1Y');

    const W1 = document.getElementById('1W');
    const M1 = document.getElementById('1M');
    const M3 = document.getElementById('3M');
    const M6 = document.getElementById('6M');
    const Y1 = document.getElementById('1Y');

    tab1W.classList.add('bg-[#e6e6e7]');
    tab1W.classList.remove('text-textcolor');
    tab1W.classList.add('text-primary');

    // 1W

    tab1W.addEventListener('click', function() {
    if (tab1W.classList.contains('active')) {
        return;
    }
    const activeButton = document.querySelector('[data-aw-toggle-tab3].active');
    if (activeButton) {
        activeButton.classList.remove('active');
    }
    tab1W.classList.add('active');

    tab1M.classList.remove('bg-[#e6e6e7]');
    tab1M.classList.remove('text-primary');
    tab3M.classList.remove('bg-[#e6e6e7]');
    tab3M.classList.remove('text-primary');
    tab6M.classList.remove('bg-[#e6e6e7]');
    tab6M.classList.remove('text-primary');
    tab1Y.classList.remove('bg-[#e6e6e7]');
    tab1Y.classList.remove('text-primary');
    tab1W.classList.add('bg-[#e6e6e7]');
    tab1W.classList.add('text-primary');
    W1.classList.remove('hidden');
    M1.classList.add('hidden');
    M3.classList.add('hidden');
    M6.classList.add('hidden');
    Y1.classList.add('hidden');
    });

    // 1M

    tab1M.addEventListener('click', function() {
    if (tab1M.classList.contains('active')) {
        return;
    }
    const activeButton = document.querySelector('[data-aw-toggle-tab3].active');
    if (activeButton) {
        activeButton.classList.remove('active');
    }
    tab1M.classList.add('active');

    tab1W.classList.remove('bg-[#e6e6e7]');
    tab1W.classList.remove('text-primary');
    tab3M.classList.remove('bg-[#e6e6e7]');
    tab3M.classList.remove('text-primary');
    tab6M.classList.remove('bg-[#e6e6e7]');
    tab6M.classList.remove('text-primary');
    tab1Y.classList.remove('bg-[#e6e6e7]');
    tab1Y.classList.remove('text-primary');
    tab1M.classList.add('bg-[#e6e6e7]');
    tab1M.classList.add('text-primary');
    M1.classList.remove('hidden');
    W1.classList.add('hidden');
    M3.classList.add('hidden');
    M6.classList.add('hidden');
    Y1.classList.add('hidden');
    });

    // 3M

    tab3M.addEventListener('click', function() {
    if (tab3M.classList.contains('active')) {
        return;
    }
    const activeButton = document.querySelector('[data-aw-toggle-tab3].active');
    if (activeButton) {
        activeButton.classList.remove('active');
    }
    tab3M.classList.add('active');

    tab1M.classList.remove('bg-[#e6e6e7]');
    tab1M.classList.remove('text-primary');
    tab1W.classList.remove('bg-[#e6e6e7]');
    tab1W.classList.remove('text-primary');
    tab6M.classList.remove('bg-[#e6e6e7]');
    tab6M.classList.remove('text-primary');
    tab1Y.classList.remove('bg-[#e6e6e7]');
    tab1Y.classList.remove('text-primary');
    tab3M.classList.add('bg-[#e6e6e7]');
    tab3M.classList.add('text-primary');
    M3.classList.remove('hidden');
    M1.classList.add('hidden');
    W1.classList.add('hidden');
    M6.classList.add('hidden');
    Y1.classList.add('hidden');
    });

    // 6M

    tab6M.addEventListener('click', function() {
    if (tab6M.classList.contains('active')) {
        return;
    }
    const activeButton = document.querySelector('[data-aw-toggle-tab3].active');
    if (activeButton) {
        activeButton.classList.remove('active');
    }
    tab6M.classList.add('active');

    tab1M.classList.remove('bg-[#e6e6e7]');
    tab1M.classList.remove('text-primary');
    tab3M.classList.remove('bg-[#e6e6e7]');
    tab3M.classList.remove('text-primary');
    tab1W.classList.remove('bg-[#e6e6e7]');
    tab1W.classList.remove('text-primary');
    tab1Y.classList.remove('bg-[#e6e6e7]');
    tab1Y.classList.remove('text-primary');
    tab6M.classList.add('bg-[#e6e6e7]');
    tab6M.classList.add('text-primary');
    M6.classList.remove('hidden');
    M1.classList.add('hidden');
    M3.classList.add('hidden');
    W1.classList.add('hidden');
    Y1.classList.add('hidden');
    });

    // 1Y

    tab1Y.addEventListener('click', function() {
    if (tab1Y.classList.contains('active')) {
        return;
    }
    const activeButton = document.querySelector('[data-aw-toggle-tab3].active');
    if (activeButton) {
        activeButton.classList.remove('active');
    }
    tab1Y.classList.add('active');

    tab1W.classList.remove('bg-[#e6e6e7]');
    tab1W.classList.remove('text-primary');
    tab3M.classList.remove('bg-[#e6e6e7]');
    tab3M.classList.remove('text-primary');
    tab6M.classList.remove('bg-[#e6e6e7]');
    tab6M.classList.remove('text-primary');
    tab1M.classList.remove('bg-[#e6e6e7]');
    tab1M.classList.remove('text-primary');
    tab1Y.classList.add('bg-[#e6e6e7]');
    tab1Y.classList.add('text-primary');
    Y1.classList.remove('hidden');
    W1.classList.add('hidden');
    M3.classList.add('hidden');
    M6.classList.add('hidden');
    M1.classList.add('hidden');
    });

</script>