---
import { Icon } from 'astro-icon';

interface Item {
  EDGE?: string;
  AvgW?: string;
  AvgL?: string;
  AvgWM?: string;
  AvgLM?: string;
}
export interface Props {
  items: Array<Array<Item>>;
}
const {
  items = [],
} = Astro.props;
---

<section class="mx-auto max-w-6xl lg:px-8 py-3" id="TradeData">
    <div class="flex flex-row items-center justify-center text-sm gap-2 py-1 px-4 mx-auto mb-4 w-fit bg-white bg-opacity-10 backdrop-blur-md drop-shadow-xl rounded-full">
        <Icon name="Alert" class="w-5 h-5" />
        <p>Trade alert 2 secs ago</p>
    </div>

    <div class="max-w-md sm:mx-auto lg:max-w-lg bg-secondary rounded-lg p-4 flex flex-col mx-auto mb-2">
        {
        items.map((subitems) => (
            <div>
                {subitems.map(({ EDGE, AvgW, AvgL, AvgWM, AvgLM, }) => (
                    <div class="w-full flex flex-row justify-between pb-2">
                        <p class="text-primary text-sm uppercase tracking-widest">Edge</p>
                        <p class="text-primary text-sm uppercase tracking-widest" set:html={EDGE} />
                    </div>

                    <hr class="w-full border-[#1C1C24]">

                    <div class="w-full flex flex-row justify-between py-2">
                        <p class="text-primary text-sm uppercase tracking-widest">Avg Win %</p>
                        <div class="flex flex-row">
                            <p class="text-primary text-sm uppercase tracking-widest" set:html={AvgW} />
                            <p class="text-primary text-sm tracking-widest">%</p>
                        </div>
                    </div>

                    <hr class="w-full border-[#1C1C24]">

                    <div class="w-full flex flex-row justify-between py-2">
                        <p class="text-primary text-sm uppercase tracking-widest">Avg Loss %</p>
                        <div class="flex flex-row">
                            <p class="text-primary text-sm uppercase tracking-widest" set:html={AvgL} />
                            <p class="text-primary text-sm tracking-widest">%</p>
                        </div>
                    </div>

                    <hr class="w-full border-[#1C1C24]">

                    <div class="w-full flex flex-row justify-between py-2">
                        <p class="text-primary text-sm uppercase tracking-widest">Avg Win $</p>
                        <div class="flex flex-row">
                            <p class="text-primary text-sm tracking-widest">$</p>
                            <p class="text-primary text-sm uppercase tracking-widest" set:html={AvgWM} />
                        </div>
                    </div>

                    <hr class="w-full border-[#1C1C24]">

                    <div class="w-full flex flex-row justify-between pt-2">
                        <p class="text-primary text-sm uppercase tracking-widest">Avg Loss $</p>
                        <div class="flex flex-row">
                            <p class="text-primary text-sm tracking-widest">$</p>
                            <p class="text-primary text-sm uppercase tracking-widest" set:html={AvgLM} />
                        </div>
                    </div>
                ))}
            </div>
        ))
        }
  </div>
</section>